spring:
  application:
    name: LearningPlatformApplication

  datasource:
    url: jdbc:postgresql://localhost:5432/learning_platform
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: always

server:
  port: 8080

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace